@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url("@fontsource/amatic-sc");

:root {
  --font-family-header: "Amatic SC", "Quicksand", cursive;
  --font-family-body: 'Raleway', sans-serif;

  --color-footer : #D7D9D7;
  --color-text: #000000;
  --color-theme-light-greay: #F2F2F2;
  --color-theme-light-brown: #8C583A;
  --color-theme-dark-brown: #593A27;
  --color-theme-black: #0D0D0D;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-body);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
