@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

:root {
  --font-family-header: 'Dancing Script', cursive;
  --font-family-body: 'Raleway', sans-serif;

  --color-footer : #D7D9D7;
  --color-text: #000000;
  --color-theme-light-greay: #F2F2F2;
  --color-theme-light-brown: #8C583A;
  --color-theme-dark-brown: #593A27;
  --color-theme-black: #0D0D0D;

}
